

.flex.headerSearch {
    height: 36px;
    align-self: center;
}
.flex.headerSearch button {
    width: 40px;
    color: #ffffff;
    background-color: #3c96dc;
    border-width: 1px;
    border-style: solid;
    border-color: #3c96dc;
    font-size: 20px;
    padding: 7px 7px;
    cursor: pointer;
}
.headerSearch input.searchInput {
    padding: 0 10px;
    width: 160px;
    background-color: #f5f5f7;
    border: 1px solid #ccc;
    color: #414141;
}

.staticSearch .headerSearch input.searchInput {
    width: 250px;
}

.headerSearch input.searchInput::placeholder {
    color: #adadad;
}

input.searchInput:focus {
    border-color: #66afe9;
    outline: 0;
}
.staticSearch {

    padding: 50px;
}

.staticSearch mark {
    background-color: #3c96dc;
    color: #fff;
    padding: 2px;
}

.staticSearch .list {
    padding: 30px 20px;
    font-size: 20px;
    list-style: none;
}
.staticSearch .page {
    padding-bottom: 5px;
    font-size: 22px;
    line-height: 22px;
}
.staticSearch .page a {
    color: #3c96dc;
    font-size: 26px;
    text-decoration: none;
    display: flex;
    gap: 15px;
    font-family: 'Sohne Halbfett';
}
.staticSearch .page a svg {
    height: 26px;
    width: 26px;
}

.staticSearch .page a svg path {
    fill: #3c96dc;
}

.staticSearch .title {
    padding: 30px 10px 20px 10px;
}

.staticSearch .title h2 {
    font-size: 40px;
    font-family: 'Sohne Halbfett';
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0px;

}
.staticSearch .description {
    padding: 0 10px;
}

.staticSearch.search-spinner {
    display: flex;
    width: 100%;
    height: calc(100vh - 160px);
    justify-content: center;
    align-items: center;
}

.staticSearch.no-results {
    padding-top: 300px;
    text-align: center;
}


.leftHandNav > .menus {
  height: fit-content;
}

.leftHandNav li button a {
    width: 242px;
}


.configComponentsPage {
    padding: 0 74px;
}


.logoSticky {
  position: sticky;
  top: 167px;
  background-color: #f5f5f5;
}

.editMode .logoSticky {
  position: unset;
}

p strong {
    font-family: "Sohne Halbfett";
}


.corporateIcons .divider {
    border-bottom: 5px solid rgb(154, 154, 156);
}
.corporateIcons .title {
    font-family: "Sohne Halbfett";
    font-size: 22px;
    line-height: 33px;
    color: rgb(65, 65, 65);
    padding-top: 20px;
    font-weight: normal;
}

.corporateIcons .subtitle {
    font-family: "Sohne Buch";
    font-size: 22px;
    line-height: 33px;
    color: rgb(65, 65, 65);
    padding-bottom: 40px;
    font-weight: normal;
}

.glcRandomizedListComponent .globalLayoutComponent {
    height: 100%;
}

.glcRandomizedListComponent.editMode .globalLayoutComponent {
    height: unset;
}

.glcRandomizedListComponent .globalLayoutComponent .imageComponentWrapper  {
    align-self: end;
}